<h1>Formulario</h1>

<form action="/prueba" method="post">
  <div align="left"><br>

    <p>Radio Buttons</p>
    <input type="radio" name="gender" value="Masculino"> Masculino<br>
    <input type="radio" name="gender" value="Femenino"> Femenino<br>

    <p>Estado Civil</p>
    <input type="radio" name="EstadoC" value="Soltero"> Soltero<br>
    <input type="radio" name="EstadoC" value="Casado"> Casado<br>
    <input type="radio" name="EstadoC" value="Divorciado"> Divorciado<br>
    
  </div>

  <div align="center">
    <p>Ejemplo text area</p>
    Escribe tu nombre:
    <br><br>
    <textarea cols="30" rows="4" name="tu_nombre" wrap="physical">
    </textarea>
    <br><br>
  </div>
  <input type="submit" value="Enviar">
</form>
