<div align="left"><br>
  <p>Ejemplo checkbox</p>
  <input type="checkbox" name="option1" value="mat">Matematicas<br>
  <input type="checkbox" name="option2" value="esp" checked>Español<br> <!-- checked opción activa por default al ponerlo-->
  <input type="checkbox" name="option3" value="histo">Historia<br>
  <br>
</div>
